body {
  background-color: rgb(237, 235, 245);
}
h1 {
  font-family: "Lucida Console", Courier, monospace;
  text-align: center;
  color: rgb(10, 0, 95);
}

p {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  text-align: center;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input[type=text], select {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=submit] {
  width: 05%;
  background-color: #564caf;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #5d45a0;
}

input[type=select] {
  width: 10%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: white;
}
